<!DOCTYPE html>
<html>
<head>
  <title>
    My Marbles
  </title>
</head>
<body>
  <h4>Your Marbles</h4>


<div id = "giveaway">  
  <h2>Give a Marble Away</h2>
    <form action="____">
      Recipient's Username: <input type="text" name="recipient username" size="35"><br>
      <input type="submit" value="Submit">
    </form>
</div>

  <div id="container">
    <div id="jar">
     <div id="firstmarble">
     </div>
    </div>
  </div>
</body>
</html>