<h2 id="user-title"></h2>

  <div id="giveaway"> 
    <% if current_user.marbles == 0 %>
      <h2> You don't have any more marbles to give. </h2>
    <% else %>
      <h2>Give one of your <%= current_user.marbles.to_words %> marbles away</h2>
      <%= form_tag(send_marble_path, :method => :post) do %>
        <p> Recipient's Username: </p>
        <div class = "user_input">
          <%= text_field_tag('username') %><br>
        </div>
        <div class = "submit">
          <input type="submit" value="Submit">
        </div>
        <div class = "jar">
          <% current_user.marbles.times do %>
            <%= image_tag("firstmarble.jpg", :class => "marble", :align => "middle") %>
          <% end %>
      <% end %>
    <% end %>