<h2 id="user-title"></h2>

<div id="giveaway"> 
  <h2>Give One of Your <%= current_user.marbles.to_words.capitalize %> Marbles Away</h2>
  <%= form_tag(send_marble_path, :method => :post) do %>
    <p> Recipient's Username: </p>
    <%= text_field_tag('username') %><br>
    <input type="submit" value="Submit">

  <% end %>
</div>

<% current_user.marbles.times do %>
  <%= image_tag("firstmarble.jpg", :class => "marble", :align => "middle") %>
<% end %>