<!DOCTYPE html>
<html>
<head>
  <title>
    My Marbles
  </title>
</head>
<body>
  <h2 id="user-title">Your Marbles</h2>

<div id="giveaway">  
  <h2>Give one of your <%= current_user.marbles %> Marbles Away</h2>
  <%= form_tag(send_marble_path, :method => :post) do %>
    <p> Recipient's Username: </p>
    <%= text_field_tag('username') %><br>
    <input type="submit" value="Submit">
  </form>
</div>

  <div id="container">
    <div id="jar">
      <div id="firstmarble">
      </div>
    </div>
  </div>

</body>
</html>
<% end %>