

// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: asset-url("marbles.jpg", image); 
  background-repeat: no-repeat; 
  background-position: center; 
  width: auto;
  height: auto;
} 
h1 {
  color: lightblue; 
  background-color: orange;
  text-align: center; 
  width: 400px;
  position: center;
  margin: auto;

}
h3 {
  text-align: center; 
}
div {
  text-align: center; 
}
footer {
  text-align: center; 
}
@media screen and (max-width: 480px) {
    font-size: 10px; /* Smaller */
}