
// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
h1 {
  color: lightblue; 
  background-color: orange;
  text-align: center; 
  width: 400px;
  position: center;
  margin: auto; 
}
h3, h4 {
  text-align: center; 
}
div {
  text-align: center; 
}

footer {
  text-align: center; 
  margin-top: 440px; 
}
@media screen and (max-width: 480px) {
    font-size: 10px; /* Smaller */
}

.alert {
  margin: auto;
  border-width: 3px; 
  border-style: solid; 
  box-shadow: 10px 10px 5px #888888;
  width: 50%; 
  padding-bottom: 10px; 
}

img {
  width: 100%; 
}

#giveaway {
  margin: auto;
  border-width: 3px; 
  border-style: solid; 
  box-shadow: 10px 10px 5px #888888;
  width: 50%; 
  padding-bottom: 10px; 
}
#user-title {
  font-family: impact; 
  text-align: center; 
}

.marble {
  height: 20%; 
  width: 20%; 
}
.mainpagebg {
  background-image: asset-url("thismarbles.jpg", image); 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100%, 100%; 
  width: 100%;
  height: 100%; 
}